/* 1_homepage */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 1440px;
height: 2207px;

/* Neutral/white */
background: #FFFFFF;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1440px;
height: 148px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -1px 0px;
z-index: 0;


/* 1st */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 88px;
gap: 32px;

width: 1440px;
height: 92px;

/* Neutral/white */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Logo */

margin: 0 auto;
width: 265.94px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* auto_stories */

position: absolute;
width: 60px;
height: 60px;
left: 88px;
top: 16px;



/* Bounding box */

position: absolute;
width: 60px;
height: 60px;
left: 88px;
top: 16px;

background: #D9D9D9;


/* auto_stories */

position: absolute;
left: 6.28%;
right: 89.9%;
top: 18.75%;
bottom: 28.26%;

background: linear-gradient(180deg, #F59E0B 0%, #FDE68A 100%);


/* AIO Study Platform */

position: absolute;
width: 189.94px;
height: 25.98px;
left: 164px;
top: 33.01px;

/* Primary/900 */
background: #78350F;


/* buttons */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

margin: 0 auto;
width: 429px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Language Options */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 98px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Language */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 12px;
gap: 8px;

width: 98px;
height: 40px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/300 */
border: 1px solid #D4D4D4;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* language

language, world, globe, planet, www, website
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Primary/600 */
background: #D97706;


/* Label */

width: 22px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;
text-align: center;

/* Primary/900 */
color: #78350F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* arrow_drop_down

arrow, arrows, direction, down, drop
*/

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 41.67%;
bottom: 37.5%;

/* Neutral/800 */
background: #262626;


/* drop-down Menu */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 8px;

display: none;
width: 98px;
height: 66px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/300 */
border: 1px solid #D4D4D4;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 177px;
height: 48px;

border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* call */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* call */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary/900 */
background: #78350F;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 109px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 109px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Primary/900 */
color: #78350F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px 10px 24px;
gap: 8px;

width: 122px;
height: 48px;

/* Primary/700 */
background: #B45309;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 54px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 54px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icons */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* login */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Neutral/white */
background: #FFFFFF;


/* menu-bar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 24px;
gap: 32px;

width: 1440px;
height: 56px;

/* Primary/50 */
background: #FFFBEB;
border-radius: 0px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 89px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 57px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 122px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 90px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 110px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 78px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 195px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 163px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;

width: 77px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 45px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hero */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 64px 88px;

width: 1440px;
height: 620px;

background: url(image.png);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
margin: -1px 0px;
z-index: 1;


/* hero-text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 640px;
height: 325px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 640px;
height: 237px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Welcome to the AIO Study Platform */

width: 640px;
height: 31px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

/* Neutral/Black */
color: #171717;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* All-in-One Platform for Self-Learners */

width: 640px;
height: 116px;

/* H1 */
font-family: 'Noto Serif HK';
font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 120%;
/* or 58px */
display: flex;
align-items: center;

/* Primary/700 */
color: #B45309;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Lorem ipsum dolor sit amet consectetur. Pellentesque velit id sodales et at fermentum. Sed id egestas nec odio sit. */

width: 640px;
height: 66px;

/* Body1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
/* or 33px */
display: flex;
align-items: center;

/* Neutral/Black */
color: #171717;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px 10px 24px;
gap: 8px;

width: 172px;
height: 56px;

/* Primary/700 */
background: #B45309;
/* Elevation-03 */
box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 104px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 104px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icons

arrow, arrows, direction, right
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Neutral/white */
background: #FFFFFF;


/* Search */

width: 1440px;
height: 100px;

/* Primary/100 */
background: #FEF3C7;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
margin: -1px 0px;
z-index: 2;


/* Background Image - 1 */

position: absolute;
width: 516px;
height: 200px;
right: 0px;
top: 0px;



/* Vector */

position: absolute;
left: 0.1%;
right: 0%;
top: 0%;
bottom: -47%;

background: linear-gradient(147.25deg, #FFFBEB 24.22%, #FDE68A 55.75%, #FEF3C7 87.28%);


/* search panel */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 1264px;
height: 120px;
left: 88px;
top: -70px;

background: rgba(255, 255, 255, 0.4);
/* Background-blur */
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 32px;


/* Frame 2608860 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 82px;
gap: 12px;

width: 1264px;
height: 120px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 2608867 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 1100px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* text-field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 958px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* state-layer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 6px 16px;
gap: 8px;

width: 958px;
height: 56px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/300 */
border: 1px solid #D4D4D4;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* icon+text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 898px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* search */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector (Stroke) */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Primary/600 */
background: #D97706;


/* label-text */

width: 866px;
height: 24px;

/* Caption1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */
display: flex;
align-items: center;

/* Neutral/500 */
color: #888888;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* icon

arrow, arrows, direction, down, drop
*/

width: 20px;
height: 20px;

opacity: 0;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon */

position: absolute;
left: 29.17%;
right: 29.17%;
top: 41.67%;
bottom: 37.5%;

/* Neutral/600 */
background: #525252;


/* Frame 2608906 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 126px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px;

width: 126px;
height: 56px;

/* Primary/700 */
background: #B45309;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 78px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 78px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* New Courses */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 88px;
gap: 24px;

width: 1440px;
height: 1090px;

background: linear-gradient(180deg, #FEF3C7 0%, #FFFFFF 100%);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
margin: -1px 0px;
z-index: 3;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 20px;

width: 1264px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 350px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 350px;
height: 50px;

/* H2 */
font-family: 'Noto Serif HK';
font-style: normal;
font-weight: 900;
font-size: 42px;
line-height: 120%;
/* or 50px */
display: flex;
align-items: center;
text-align: center;

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icons */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* help */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Primary/700 */
background: #B45309;


/* list */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 1264px;
height: 776px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* qualidication card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
isolation: isolate;

width: 1264px;
height: 185px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/100 */
border: 1px solid #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 250px 0px 0px;
gap: 8px;

width: 1216px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Facility Name */

width: 966px;
height: 31px;

/* Subtitle */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

/* Secondary/700 */
color: #1D4ED8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* wrapper */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 16px 0px 0px;
gap: 12px;

width: 1216px;
height: 82px;

/* Neutral/100 */
border-top: 1px dashed #F5F5F5;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* school */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 376px;
height: 66px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 66px;
height: 66px;

/* Primary/50 */
background: #FFFBEB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* map */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* map */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 298px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Water Supply Type */

width: 298px;
height: 24px;

/* Caption1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-text-block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 24px;

width: 205px;
height: 66px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* status */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* done */

position: absolute;
left: 15.42%;
right: 15.42%;
top: 24.17%;
bottom: 24.38%;

background: #22C55E;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 125px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Water Supply Type */

width: 125px;
height: 21px;

/* Caption2 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 94px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

width: 94px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* CAT */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 276px;
height: 45px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 2053 */

width: 10px;
height: 10px;

/* Primary/600 */
background: #D97706;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* CAT(I) */

width: 222px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Primary/600 */
color: #D97706;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bookmark */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 56px;
height: 56px;
right: 0px;
top: 0px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 0px 0px 0px 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* shortlist */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* bookmark */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* qualidication card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
isolation: isolate;

width: 1264px;
height: 185px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/100 */
border: 1px solid #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 250px 0px 0px;
gap: 8px;

width: 1216px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Facility Name */

width: 966px;
height: 31px;

/* Subtitle */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

/* Secondary/700 */
color: #1D4ED8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* wrapper */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 16px 0px 0px;
gap: 12px;

width: 1216px;
height: 82px;

/* Neutral/100 */
border-top: 1px dashed #F5F5F5;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* school */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 376px;
height: 66px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 66px;
height: 66px;

/* Primary/50 */
background: #FFFBEB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* map */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* map */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 298px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Water Supply Type */

width: 298px;
height: 24px;

/* Caption1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-text-block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 24px;

width: 205px;
height: 66px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* status */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* done */

position: absolute;
left: 15.42%;
right: 15.42%;
top: 24.17%;
bottom: 24.38%;

background: #22C55E;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 125px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Water Supply Type */

width: 125px;
height: 21px;

/* Caption2 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 94px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

width: 94px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* CAT */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 276px;
height: 45px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 2053 */

width: 10px;
height: 10px;

/* Primary/600 */
background: #D97706;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* CAT(I) */

width: 222px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Primary/600 */
color: #D97706;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bookmark */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 56px;
height: 56px;
right: 0px;
top: 0px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 0px 0px 0px 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* shortlist */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* bookmark */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* qualidication card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
isolation: isolate;

width: 1264px;
height: 185px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/100 */
border: 1px solid #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 250px 0px 0px;
gap: 8px;

width: 1216px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Facility Name */

width: 966px;
height: 31px;

/* Subtitle */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

/* Secondary/700 */
color: #1D4ED8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* wrapper */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 16px 0px 0px;
gap: 12px;

width: 1216px;
height: 82px;

/* Neutral/100 */
border-top: 1px dashed #F5F5F5;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* school */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 376px;
height: 66px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 66px;
height: 66px;

/* Primary/50 */
background: #FFFBEB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* map */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* map */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 298px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Water Supply Type */

width: 298px;
height: 24px;

/* Caption1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-text-block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 24px;

width: 205px;
height: 66px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* status */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* done */

position: absolute;
left: 15.42%;
right: 15.42%;
top: 24.17%;
bottom: 24.38%;

background: #22C55E;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 125px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Water Supply Type */

width: 125px;
height: 21px;

/* Caption2 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 94px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

width: 94px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* CAT */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 276px;
height: 45px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 2053 */

width: 10px;
height: 10px;

/* Primary/600 */
background: #D97706;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* CAT(I) */

width: 222px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Primary/600 */
color: #D97706;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bookmark */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 56px;
height: 56px;
right: 0px;
top: 0px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 0px 0px 0px 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* shortlist */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* bookmark */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* qualidication card */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;
isolation: isolate;

width: 1264px;
height: 185px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/100 */
border: 1px solid #F5F5F5;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Title */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 250px 0px 0px;
gap: 8px;

width: 1216px;
height: 31px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Facility Name */

width: 966px;
height: 31px;

/* Subtitle */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 130%;
/* or 31px */
display: flex;
align-items: center;

/* Secondary/700 */
color: #1D4ED8;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* wrapper */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
align-content: flex-start;
padding: 16px 0px 0px;
gap: 12px;

width: 1216px;
height: 82px;

/* Neutral/100 */
border-top: 1px dashed #F5F5F5;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* school */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 12px;

width: 376px;
height: 66px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* image */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;

width: 66px;
height: 66px;

/* Primary/50 */
background: #FFFBEB;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* map */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* map */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 298px;
height: 66px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Water Supply Type */

width: 298px;
height: 24px;

/* Caption1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
/* identical to box height, or 24px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* icon-text-block */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 24px;

width: 205px;
height: 66px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* status */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* done */

position: absolute;
left: 15.42%;
right: 15.42%;
top: 24.17%;
bottom: 24.38%;

background: #22C55E;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 125px;
height: 50px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* title */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 125px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Water Supply Type */

width: 125px;
height: 21px;

/* Caption2 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 94px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

width: 94px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */

/* Neutral/800 */
color: #262626;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* CAT */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 4px;

width: 276px;
height: 45px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 2053 */

width: 10px;
height: 10px;

/* Primary/600 */
background: #D97706;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* CAT(I) */

width: 222px;
height: 21px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 130%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Primary/600 */
color: #D97706;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* bookmark */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 10px;

position: absolute;
width: 56px;
height: 56px;
right: 0px;
top: 0px;

/* Neutral/50 */
background: #FAFAFA;
border-radius: 0px 0px 0px 8px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* shortlist */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Bounding box */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #D9D9D9;


/* bookmark */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 12.5%;
bottom: 12.5%;

/* Primary/600 */
background: #D97706;


/* button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 24px 10px 16px;
gap: 8px;

width: 118px;
height: 56px;

/* Neutral/white */
background: #FFFFFF;
/* Primary/700 */
border: 1px solid #B45309;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* add

add, create, new, plus, +
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Primary/700 */
background: #B45309;


/* Label */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 50px;
height: 26px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Label */

width: 50px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;
text-align: center;

/* Primary/700 */
color: #B45309;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Footer */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 88px;
gap: 48px;

width: 1440px;
height: 253px;

/* Neutral/white */
background: #FFFFFF;
/* Neutral/100 */
border-top: 1px solid #F5F5F5;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* images */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 48px;

width: 330px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* wcag2.1AA */

width: 171px;
height: 60px;

background: url(wcag2.1AA-v.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* footer-wfa */

width: 111px;
height: 60px;

background: url(footer-wfa.png);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 445px;
height: 65px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* text links */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 24px;

width: 445px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 186px;
height: 20px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
display: flex;
align-items: center;
text-align: center;

/* Primary/900 */
color: #78350F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 10 */

display: none;
width: 15px;
height: 0px;

/* Shades-900 */
border: 1px solid #212121;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 109px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Line 7 */

display: none;
width: 15px;
height: 0px;

/* Shades-900 */
border: 1px solid #212121;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

display: none;
width: 82px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Line 9 */

width: 15px;
height: 0px;

/* Primary/900 */
border: 1px solid #78350F;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 64px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* Label */

width: 64px;
height: 20px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
display: flex;
align-items: center;
text-align: center;

/* Primary/900 */
color: #78350F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Line 8 */

width: 15px;
height: 0px;

/* Primary/900 */
border: 1px solid #78350F;
transform: rotate(90deg);

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;


/* nav-label */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 99px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 8;
flex-grow: 0;


/* Label */

width: 99px;
height: 20px;

/* Label2 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 125%;
/* identical to box height, or 20px */
display: flex;
align-items: center;
text-align: center;

/* Primary/900 */
color: #78350F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Line 6 */

display: none;
width: 53px;
height: 0px;

/* Secondary-300 */
border: 3px solid #36E4D6;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Copyright © AIO Study Platform */

width: 212px;
height: 21px;

/* Caption2 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
/* identical to box height, or 21px */
display: flex;
align-items: center;

/* Neutral/600 */
color: #525252;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* floating-button-wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 32px 48px;
gap: 10px;

position: absolute;
width: 320px;
height: 120px;
right: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* floating_icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 12px 12px 16px;
gap: 8px;
isolation: isolate;

width: 60px;
height: 56px;

/* Primary/50 */
background: #FFFBEB;
/* Neutral/100 */
border: 1px solid #F5F5F5;
/* Elevation-01 */
box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* bookmarks */

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Bounding box */

position: absolute;
width: 32px;
height: 32px;
left: 16px;
top: 12px;

background: #D9D9D9;


/* bookmarks */

position: absolute;
left: 33.33%;
right: 26.67%;
top: 23.81%;
bottom: 23.81%;

/* Primary/700 */
background: #B45309;


/* My List */

display: none;
width: 70px;
height: 26px;

/* Label1 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
/* identical to box height, or 26px */
display: flex;
align-items: center;

/* Neutral/800 */
color: #262626;

opacity: 0;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* badge */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
display: none;
width: 18px;
height: 18px;
left: 6px;
top: 2px;

/* Warning/600 */
background: #DC2626;
/* Primary/50 */
border: 1px solid #FFFBEB;
border-radius: 100px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
